<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Document Explorer</title>

    	<!-- Bootstrap -->
    	<link href="/static/webapp/css/main.css" rel="stylesheet">
    	<link href="/static/webapp/css/explorer.css" rel="stylesheet">
    	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  	</head>
  	<body>
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2">
		      a<!--Sidebar content-->
		    </div>
		    <div class="span10">
		      b<!--Body content-->
		    </div>
		  </div>
		</div>
		<div id="footer">
			 <div class="container">
			 	<p class="muted credit">&copy; 2014 Ankit Sharma and Rahil Arora | Healthcare Security Management Project</p>
			 </div>
		</div>
	</body>